<!DOCTYPE html>

<html>

<head>
  <base target="_top">

  <title id="pageTitle"></title>

  <!-- css適用 -->
  <link rel="stylesheet" href="/assets/css/pages.css">

</head>

<body>
  <div>
    <a href="../">
      <h1>トップへ戻る</h1>
    </a>

    <div id="box"></div>

  </div>
</body>

<script>
  // ========================================
 
  const title = "タイトル";

  const start = 1;
  const end = 15;

  const baseURL = "リンク前半";
  const suffix = "リンク後半";

  // ========================================

  document.getElementById("pageTitle").textContent = title;

  const box = document.getElementById("box");

  for (let i = start; i <= end; i++) {
    const url = `${baseURL}${i}${suffix}`;
    const imgHTML = `<img src="${url}">`;

    box.insertAdjacentHTML("beforeend", imgHTML);
  }
</script>

</html>